@model WebApplication1.Model.Vare

@{
    ViewBag.Title = "Vare - " + Model.VareId;
}

<h4>Vare: @Model.Navn</h4>

<p> <img alt="@Model.VareId" src="~/Content/Images/@Model.VareArtUrl" /></p>
<div>
  @* 
  <p><em>Kategori:</em> @Model.Kategori.KatNavn</p>
  *@
    <p>Navn: @Model.Navn</p>
    <p>Land: @Model.Land</p>
    <p>Pris: @String.Format("{0:F}", Model.Pris)</p>
    <p class="button">
    
      @Html.ActionLink("Kjøp", "LeggTilHandlekurv", "Salg", new { VareId = Model.VareId }, new { @class = "btn btn-success btn-sm" })
      @Html.ActionLink("Handle mer", "Index", new { tom = "" }, new { @class = "btn btn-primary btn-sm"})
      @Html.ActionLink("Handlekurv", "VisHandlekurv", "Salg", new { VareId = Model.VareId }, new { @class = "btn btn-primary btn-sm " })
      
  </p>
</div>

